$bg-yellow: #F4E041;
$bg-blue: #00BDD3;
$bg-gray: #F8F8F8;
$bg-white: #FFFFFF;
$bg-dark-gary: #B4B4B4;



$text-black: #000000DE;
$text-white: #FFFFFF;
$text-gray: #7E7E7E;

$button-hover-color: #FFE302;

$border-gray: #D0CFCF;
$border-black: #000000DE;